@import 'reset';

$brand-font: 'Rufina',
serif;
$primary-colour: #000417;
$secondary-colour: #433800;

html {
    scroll-behavior: smooth;
}

body {
    background: $primary-colour;
    font-family: $brand-font;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-colour;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #070e2b;
}

::selection {
    background: white;
    color: $primary-colour;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0 10px;

    nav .links &:focus::after,
    nav .links &:hover::after,
    nav .links &:active::after {
        position: absolute;
        content: "";
        background: $secondary-colour;
        width: 45px;
        height: 3px;
        bottom: -3px;
        left: 10px;
    }
}

h1 {
    font-size: 3em;
    margin-top: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #00051d;
    z-index: 1;

    .brand-logo {
        width: 75px;
        padding: 10px;

        img {
            width: 100%;
        }
    }

    .links {
        padding: 15px;

    }
}

.container {
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-colour;
}

section {
    width: 900px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    .content {
        margin-top: 30px;
        position: relative;
        display: flex;

        &::before {
            position: absolute;
            content: "";
            height: 5px;
            width: 145px;
            background: $secondary-colour;
            top: -20px;
            left: 40px;
        }

        p {
            width: 50%;
            padding: 0 40px;
            line-height: 30px;
        }
    }

    .img-container {
        // width: 50%;
        width: 35%;
        height: 550px;
        background-position: center;
        background-size: cover;
        box-shadow: -11px -10px 0px 0px $secondary-colour;


        // img {
        //     width: 100%;
        //     box-shadow: -11px -10px 0px 0px $secondary-colour;
        // }
    }
}

#hero {
    background-image: url(../img/brand-logo.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


#story {
    .content {
        flex-direction: row;
    }

    .img-container {
        background-image: url(../img/portrait.jpg);
    }
}


#menu,
#location {
    .content {
        flex-direction: column;
        align-items: center;

        p {
            padding: 10px 0;
            width: 90%;
        }

        .img-container {
            background-image: url(../img/cake-display.jpg);
            width: 88%;
            height: 300px;
            margin-top: 20px;
        }

        // .img-container {
        //     margin-top: 25px;
        //     overflow: hidden;
        // }
    }
}

#location {
    .content {
        flex-direction: column;
    }
}


.columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    padding: 0 40px;

    .column {
        width: 50%;
        margin-bottom: 60px;

        a {
            background: white;
            padding: 10px 20px;
            margin: 5px 0 0 5px;
            color: $primary-colour;
            display: inline-block;
            box-shadow: -5px -5px 0px 0px $secondary-colour;
            border: 1px solid transparent;

            &:hover {
                background: $primary-colour;
                color: white;
                border: 1px solid white;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;

    img {
        width: 100px;
    }

    a {
        padding: 0;
    }

    svg {
        fill: white;
        margin: 0 5px;
        width: 20px;
        height: 20px;
    }

    .social-links {
        position: relative;
        margin-top: 20px;

        &::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 40px;
            background: $secondary-colour;
            left: 0;
            right: 0;
            margin: auto;
            top: -17px;
        }
    }
}