@import 'reset';

$brand-font: 'Rufina',
serif;
$primary-colour: #000417;
$secondary-colour: #433800;

html {
    scroll-behavior: smooth;
}

body {
    background: $primary-colour;
    font-family: $brand-font;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: $primary-colour;
}

::-webkit-scrollbar-thumb:hover {
    background: #070e2b;
}

::selection {
    background: white;
    color: $primary-colour;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0 10px;

    nav #links &:focus::after,
    nav #links &:hover::after,
    nav #links &.active::after {
        position: absolute;
        content: "";
        background: $secondary-colour;
        width: 45px;
        height: 3px;
        bottom: -3px;
        left: 10px;
    }
}

h1 {
    font-size: 3em;
    margin-top: 60px;
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background: $primary-colour;
    z-index: 1;

    &.sticky {
        animation: navbar 0.4s linear forwards;
    }

    .brand-logo {
        width: 75px;
        padding: 10px;

        img {
            width: 100%;
        }
    }

    #links {
        padding: 15px;

    }
}

@keyframes navbar {
    from {
        transform: translateY(-60px);
    }

    to {
        transform: translateY(0);
    }
}

.container {
    margin-top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $primary-colour;
}

section {
    width: 900px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    .content {
        margin-top: 30px;
        position: relative;
        display: flex;

        &::before {
            position: absolute;
            content: "";
            height: 5px;
            width: 145px;
            background: $secondary-colour;
            top: -20px;
            left: 40px;
        }

        p {
            width: 50%;
            padding: 0 40px;
            line-height: 30px;
        }
    }

    .img-container {
        width: 35%;
        height: 550px;
        background-position: center;
        background-size: cover;
        box-shadow: -11px -10px 0px 0px $secondary-colour;
    }
}

#hero {
    background-image: url(../img/brand-logo.svg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#story {
    .content {
        flex-direction: row;
    }

    .img-container {
        background-image: url(../img/portrait.jpg);
    }
}

#menu,
#location {
    .content {
        flex-direction: column;
        align-items: center;

        p {
            padding: 10px 0;
            width: 90%;
        }

        .img-container {
            width: 88%;
            height: 300px;
            margin-top: 20px;
        }
    }
}

#menu {
    .img-container {
        background-image: url(../img/cake-display.jpg);
    }
}

#location {
    .content {
        flex-direction: column;
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    padding: 0 40px;

    .column {
        width: 50%;
        margin-bottom: 60px;

        h2 {
            font-size: 1.2em;
            letter-spacing: 3px;
        }

        a {
            background: white;
            padding: 10px 20px;
            margin: 5px 0 0 5px;
            color: $primary-colour;
            display: inline-block;
            box-shadow: -5px -5px 0px 0px $secondary-colour;
            border: 1px solid transparent;

            &:hover {
                background: $primary-colour;
                color: white;
                border: 1px solid white;
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 140px;

    img {
        width: 100px;
    }

    a {
        padding: 0;

        &:hover svg {
            fill: $secondary-colour;
        }

        &:hover {
            color: $secondary-colour;
        }
    }

    svg {
        fill: white;
        margin: 0 5px;
        width: 20px;
        height: 20px;
    }

    .social-links {
        position: relative;
        margin-top: 20px;

        &::before {
            position: absolute;
            content: "";
            height: 4px;
            width: 40px;
            background: $secondary-colour;
            left: 0;
            right: 0;
            margin: auto;
            top: -17px;
        }
    }
}

#menu-btn {
    display: none;
}

#menu-line {

    &-left,
    &-right {
        position: absolute;
        height: 2px;
        background: white;
        cursor: pointer;
        transform: rotate(0deg);
    }

    &-left {
        width: 20px;
        right: 31px;
        top: 20px;
    }

    &-right {
        width: 15px;
        right: 36px;
        top: 29px;
    }
}

@keyframes menu-line-left-open {
    from {
        transform: rotate(0deg);
        top: 20px;
    }

    to {
        transform: rotate(45deg);
        top: 23px;
    }
}

@keyframes menu-line-right-open {
    from {
        width: 15px;
        top: 29px;
        transform: rotate(0deg);
    }

    to {
        width: 20px;
        top: 23px;
        right: 31px;
        transform: rotate(135deg);
    }
}

@keyframes menu-line-left-close {
    from {
        transform: rotate(45deg);
        top: 23px;
    }

    to {

        transform: rotate(0deg);
        top: 20px;
    }
}

@keyframes menu-line-right-close {
    from {
        width: 20px;
        top: 23px;
        right: 31px;
        transform: rotate(135deg);
    }

    to {

        width: 15px;
        top: 29px;
        transform: rotate(0deg);
    }
}

@keyframes menu-links-open {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes menu-links-close {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

@media only screen and (max-width: 992px) {
    section {
        width: 100%;

        h1 {
            margin-left: 35px;
        }
    }
}

@media only screen and (max-width: 768px) {
    section {
        .content {
            flex-direction: column !important;

            p {
                width: 92%;
                padding: 0;
                margin: auto;
                margin-bottom: 20px;
            }

            .columns {
                .column {
                    width: 100%;
                }
            }
        }

        .img-container {
            width: 88%;
            margin: auto;
        }
    }

    #menu .content p {
        padding: 0;
        width: 100%;
    }


    #menu-btn {
        display: flex;
    }

    #links {
        padding: 0 !important;
        display: flex;
        background: $primary-colour;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(-100%);
        border-bottom: 1px solid white;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 2.5em;
    }
}